Hello put var here. Please see below information you'll need to connect
to your EC2 instances.

The IP Addresses to use are:

{{ get_ip.results | regex_findall('\\b(?:[0-9]{1,3}\\.){3}[0-9]{1,3}\\b') | unique }}


Use the below PEM key to ssh to your EC2's:

-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAkG8aIFrIa7Ty+J970Ip+ZCeeNyzoYMOhfjrxxCKi7Vjx51Tv
2ghPef+XenAQIjPEZxeHBOKlcZXzoM23iW5w/+biZdP1T8/sNGFecLi/4U/znvyQ
fVDmUifMqk1IUYqUzhTnLgkb6wvUHJ9wFfwzbuy/fpPVo90XNJv/sI7cv7vds6es
RJcFF07nSiLfh289ZtGEYkJd1udBI5vusgVAVphmp+q3nT0mMHuJb2vn13zdagEA
/Lc3rzDjalJOJW75i+qjdZx69Y77C1zlYUHW8u7YxDHyG6do3N4GtTayNTYOPTCs
R9V9MDzh4kJDKF59xmZeigpCo4hZNgMTJm0BWQIDAQABAoIBAB0y6MQ7tiLYHPqY
O06ogO68d6bN5FiTlBVR00iEfA2hmp3atPaOEYsnWbc96nUPpBf3UKtzKmExIGSU
0hLtidiiE4jkdcZh0W2xdYcyQlBJeoXcp1U+QqG/PAf9wa4CZxzWavoKi2NUK9hx
fxZiuv8ky33KYzlSW/udwe4uo3/7K6nuL43UCNnQhxWHIkasLID1XQnznHp07pHJ
mF2wvtyjAj2WoYgWFwjLyrIF1C0QBBnYpSJ1C1SxAcs4eVcAMGY1Xl8ahbzHok7/
yD3Kv9EnlwXLqLVL9OHNgVT12T9kdaNPCcUJ78HMoQQrmd/MiAw1vKnjtjLvn3Sa
6QHUddECgYEA1QTtwUUBmU9txgtxWjd1/c8Tau9gFhPz54ETVs86oHkW3hmixjp4
v/2fHGbqRbhfzpNMKucaEfjF65D+Qa12HJzYdBncKwP9AaSnNMJiaOGoeiSsBd90
PNJjy/iB8vctOS5VhZOetDCub2HthU+u0TxBNA5fMPbZPtnJhlSweH0CgYEArZOK
9KPPpSHMNLOH2LX3hnu/TCTn/ct2uKq+CRvKNUHZRyhqs4WEDc0/tpiyq1ItrAIb
5rz6uphnZ0uJZ+Rl7d8sX+zh5bk9IPEJI05gacyTmNpTp+6Wyz3FPFT2KwRYEnL9
clRhqkMAuO9EadhUoXQkLtZ5sva/3flTn4wq3w0CgYEAu2Pek0pVIbzR4IpoaOip
D2F+v29co49h3KGblZ4vAMQE7dS3cJI3bw15Ts7p//M1tM+3DXbHZE/oLFYclUI2
yOzhLSEioWScyTlDLhJh58m7H9fqzC/KXUbnK6OtDUOLsOWlriAyWGkKykjnXYK/
Uqki4txRuQ0uBzAnK9iMdTECgYBgmYE230e7dhDIr7WFtNeZv5raDJwT0b0zzspO
FWo2s3vxrxua505zw+uWemrND8IdPVs70aaUXCcIBLDm4eScOpzekd2yVKIhiCN2
w7LCjrkB01fFWPIREEKJbhtGG3fMZLSKgU2NTRbE1Vw0r9GBvTo52uEF6W8kYRLZ
808UrQKBgGPdJDsuUxNY/uMrUQ5ocdmbIVnC3ns1CZrn/wISMKixMA0b2IlFQhB4
gk/i2rMYw3T98nijQJ5DchLdvZjyqPkzjiKGTsjO64Bp2+k9D7dDewqQ47EaiIuk
MtCU1ZimrwSJP5ezTMTvTk6oFnBAKiGf4EInSBge4nnKZPOcq1n1
-----END RSA PRIVATE KEY-----