Hello put var here. Please see below information you'll need to connect
to your EC2 instances.

The IP Addresses to use are:

{{ get_ip.results | regex_findall('\\b(?:[0-9]{1,3}\\.){3}[0-9]{1,3}\\b') | unique }}


Use the below PEM key to ssh to your EC2's:

