Please see below information you'll need to connect
to your EC2 instances.

The IP Addresses to use are:
{{ ec2_ip }}


Use the below PEM key to ssh to your EC2's:

-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAjKSNVVGdl2iWnMcC3rqQzGSoSmS7dnlg0iqrGdGA5J6Bv8zs
YZELF2GLcF07OTun7Th4FQb4MNsvqyx31WxpkYiT1e27a1Xxw9ZogChwYW0c0FTi
c/0dOKgkcR6sG5ec8rucP16h8tgkAA84e0Tw5m7JtxgbqeCZmIK02cj+Jk1EWPjl
Y3K7qqJl7mM+ATgbZ0Pa4sp0GDDWwiEohNdaeyTMJWbzvMnGLh/CnY1gYcCk8uZk
ewc3FgyoC5H0r7xaB9v1lj3GLS11d7z5yAxz78cYEmhkCLstjTXegTq0NIy08jdU
XwuJD/cYyeEQOCwVMpLU4ViLBFcxcYzGPYVyrwIDAQABAoIBABJBAT8Dmsqd/n5W
rh6uZEDDB7ywGkykMFbWxuJQ+MOzdu+n7z4yjxf3xxtMXnVtMrxtSdig0PG2YRd8
bAk9Su5ipZ1sf5jMzNY4K9QGa5+Zg9XeTo3zWimSWTh9XKUwJmSyyPLIm4hjWTjQ
wOnu5r1hv7iN3nlL92N+A28I0UOzLlUXRDu/3IiOnbIIQZZoHRDJyzQgpZbbVEoR
THTde2h92Xv4N05xObFpxSUqQ5bFIervbYbXKrjvbk1Vf8urBxL6uGbBD+B2rHqk
uy4omwpE6aJAOfYBfUhzHi47Q+jj2corT4797QR9YYpL2DgTIkEcz0GWQenoNhvM
kvcGujECgYEAxE/hhghMvuaA/1eVl8fCPcnwHyZ+kv6eo4a677vpeY4Kxl1UoyY0
n1Qn+EyF2/Dpg7jiU827mBcs0MIdK7lUOk8sMAq5cGFBUdgGFL9CDrwKlr+FcLfm
hLa70icY9SVrDCeOmJNKlTWQdXqBPRIGbFbmTCmo8nU096W10qkCfw0CgYEAt2eb
J6WqCrfgcfItbXFUDZ8L+9fehHpkx77u1/1rT+wpMSAz7JaRDfj7vwhGJ8Xe/o20
HX1r1l6yW7AmrlJ6GWamZnTHu2qS9xoMy4vGztBrbap4pMHUQnOgyx9me3U5xrT0
4rtGwsiSZa6tlBHC35Dh6fonRjXdLyRNcrgnqasCgYEAur3aJGvkxXvznfIs5TMq
vShJePhfU2lOcvQJA1/Xmr/Z1BSYHJKNYDrnwrTYaP5kw96tvVZpayYwhW0B3sPv
MYB64kBxYkvBnR9HuZiuN+H8mKYbQ7xMVlaVmDWE8j3j9K30YYNLYWCQyI/+PJ/W
6FxJuo2unuWLu0AxE/Gd5EkCgYEAnR8MY/Xf7BjFFrkjw9vP5293I8U244W7awge
tDltwuWOEIEHGsuO70p72ZesCozQ0oDxakY1qUwtPrF1IeiUo8g2DBZFukC+MSVH
CuXvZuRU9HmTq4pGXruSaBG5iVDPM3V5Sfio0VxlVulD2VMyALetYvakyNiCac2O
8BXmHMsCgYAw1yRh7MIgdBM/bA1Us73QNtDEZN27a9hP319+TDoIGEalATi3K3Lr
3o6PAaf8Adbt1fKPU2z/ns+fSgpDSyEqgeN4KCODGhsJDlb1Earolz+B3RwFGv4F
65aBZa3GrctZFktsLjy3wMYWxkhgY9LTlV8k7lEdly4qLjuLuZ98pg==
-----END RSA PRIVATE KEY-----

Don't forget that this was pretty easy to automate with Ansible ;)

Have a great day!